@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Hammersmith+One');


body {
    background: $main;
    font-family: $font-main;
}

.select-N,
img {

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.none {
    display: none !important;
}